<aside class="options-sidebar">
    <LoginDisplay />
    <h2 class="options-title">Options</h2>
    <label class="option-check">
        <input class="option-checkbox" type="checkbox" @bind:get="Streaming" @bind:set="SetStreamingAsync" />
        <span>Streaming</span>
    </label>
    <label class="option-field">
        <span>Image generation</span>
        <select class="option-select" @bind:get="SelectedImageGenStyle" @bind:set="SetImageGenStyleAsync">
            <option value="@ImageGenStyle.RouterAgent">RouterAgent</option>
            <option value="@ImageGenStyle.ImageGenAsTool">ImageGenAsTool</option>
        </select>
    </label>
    <label class="option-field">
        <span>Custom Instructions</span>
        <textarea @bind="_customInstructions" style="min-height: 100px"></textarea>
        <input type="button" value="Save" @onclick="SaveCustomInstructions"/>
    </label>
</aside>